<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem
    ios.position="right"
    ios:visibility="collapsed"
    android.position="actionBar"
    (tap)="onTapReplace()"
  >
    <Label
      text="&#xf0fe;"
      class="fa"
      color="white"
      fontSize="24"
    ></Label>
  </ActionItem>
  <ActionItem
    ios.position="right"
    android.position="actionBar"
    (tap)="onTapEdit()"
  >
    <Label
      text="&#xf044;"
      class="fa"
      color="white"
      fontSize="24"
    ></Label>
  </ActionItem>
</ns-action-bar>
<ScrollView>
  <ns-challenge-calendar></ns-challenge-calendar>
</ScrollView>
