@import '~@nativescript/theme/css/core';
@import '~@nativescript/theme/css/purple';

.btn {
    border-width: 1;
    width: 100%;
    border-radius: 30%;
    margin: 5 0;
    font-weight: bold;
}

.form-control {
  border-bottom-color: #830083;
  border-bottom-width: 2;
  margin: 5 0;
  font-size: 16;
  padding: 8 4;
}

.drawer-container {
  margin-top: 23;
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;
}
