@import "_app.common";
@import '~nativescript-theme-core/scss/platforms/index.android';

.btn {
    background: white;
    border-color: #7c015d;
    color: #7c015d;
    padding: 5 15;
    text-transform: uppercase;
    font-size: 13;
  }
